<header class="w-full fixed z-50">
  <nav class="container mx-auto !flex justify-between">
    <div class="flex flex-col sm:flex-row gap-[4px] sm:gap-[4px] items-start">
      <span class="" id=""
        ><a class="home button button-primary" href="index.html#first"
          >work</a
        ></span
      >
      <span class="" id=""><a class="button button-primary">projects</a></span>
      <span class="" id=""
        ><a class="button button-primary" href="index.html#first">art</a></span
      >
    </div>
    <div class="flex flex-col sm:flex-row gap-[4px] sm:gap-[4px] items-end">
      <span id="returnbutton" class=""></span>
      <span id="resumebutton"></span>
      <span id="contactbutton"></span>
    </div>
  </nav>
</header>
