@import "tailwindcss";

* {
  box-sizing: border-box;
  url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Inter:wght@100..900&display=swap');
}

/* Define MonaspaceArgon */
@font-face {
  font-family: 'MonaspaceArgon';
  src: url('../fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff2') format('woff2'),
       url('../fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff') format('woff');
  font-weight: 100 900; /* Supports weights from 100 to 900 */
  font-stretch: 75% 125%; /* Supports widths from 75% to 125% */
  font-style: normal italic; /* Supports normal and italic styles */
}

/* Define MonaspaceKrypton */
@font-face {
  font-family: 'MonaspaceKrypton';
  src: url('../fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2') format('woff2'),
       url('../fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff') format('woff');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal italic;
}

/* Define MonaspaceNeon */
@font-face {
  font-family: 'MonaspaceNeon';
  src: url('../fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2') format('woff2'),
       url('../fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff') format('woff');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal italic;
}

/* Define MonaspaceRadon */
@font-face {
  font-family: 'MonaspaceRadon';
  src: url('../fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2') format('woff2'),
       url('../fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff') format('woff');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal italic;
}

/* Define MonaspaceXenon */
@font-face {
  font-family: 'MonaspaceXenon';
  src: url('../fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff2') format('woff2'),
       url('../fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff') format('woff');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal italic;
}

@theme {
  --color-testcolor: oklch(55.1% 0.027 264.364);
  --color-trueblack: #243131;
  --color-truewhite: oklch(98.4% 0.003 247.858); /*slate-50*/
  --color-trueblue: #0e65ac;
  --color-trueyellow: #fad13e;
  --color-truered: #df4c40;
  --color-trueorange: #f99b30;
  --color-truegreen: #62b862;
  --color-trueviolet: #7f61c5;
  --color-graylight: oklch(86.9% 0.022 252.894);
  --color-graymedium: oklch(70.4% 0.04 256.788);
  --color-graydark: oklch(55.1% 0.027 264.364);


  --color-flviolet: #ac6aff;
  --color-flblue: #3dbefe;
  --color-florange: #ff5e01;
  --color-florange200: #f9a67d;
  --color-florange100: #f4d3bf;


  --color-flgreen: #8bff1f;
  --color-flyellow: #edff00;
  --color-flyellow: #f7ff00;
  --color-flpink: #ff51a5;

  --color-accent: var(--color-florange);
  --color-hover: var(--color-flviolet);
  --color-active: var(--color-flblue);
  --spacing-ms4xl: 14rem;
  --spacing-ms3xl: 9rem;
  --spacing-ms2xl: 5.75rem;
  --spacing-msxl: 4rem;
  --spacing-mslg: 3rem;
  --spacing-ms: 2rem;
  --spacing-mssm: 1.25rem;
  --spacing-msxs: .5rem;
}

@layer components {

  .button.button-primary,
  a.button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    margin-top: var(--spacing-myspace);
    margin-bottom: var(--spacing-myspace);
    color: var(--color-accent);
    background-color: rgba(var(--color-truewhite), 0.8);
    border: 1px solid var(--color-accent);
    outline-color: var(--color-trueblue);
    outline-offset: 1px;
      font-family: 'Inter', sans-serif;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
  }

  .button.button-primary:hover,
  a.button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover {
    color: var(--color-truewhite);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }

  .button.button-primary:active,
  a.button.button-primary:active,
  button.button-primary:active,
  input[type="submit"].button-primary:active,
  input[type="reset"].button-primary:active,
  input[type="button"].button-primary:active {
    background-color: var(--color-trueyellow);
    border-color: var(--color-trueyellow);
    color: var(--color-trueblue);
  }

  .button.button-primary:focus,
  a.button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    outline: 1px solid var(--color-trueblue);
  }
}

@layer utilities {
  .font-condensed {
    font-stretch: 75%;
  }
  .font-normal-width {
    font-stretch: 100%;
  }
  .font-expanded {
    font-stretch: 125%;
  }
}

@layer base {
  body {
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Inter', sans-serif;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  
  /* .font-garamond {
    font-family: 'EB Garamond', sans-serif;
  } */


  .font-argon {
    font-family: 'MonaspaceArgon', sans-serif;
  }
  .font-krypton {
    font-family: 'MonaspaceKrypton', sans-serif;
  }
  .font-neon {
    font-family: 'MonaspaceNeon', sans-serif;
  }
  .font-radon {
    font-family: 'MonaspaceRadon', sans-serif;
  }
  .font-xenon {
    font-family: 'MonaspaceXenon', sans-serif;
  }

  h1,h2,h3,h4,h5 {
    color: var(--color-accent);
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }

  h1,h2,h3,h4,h5 {
    margin-bottom: var(--spacing-myspace);
  }

  p,ul,ol {
    margin-bottom: var(--spacing-myspace);
  }

  p:last-child {
    margin-bottom: 0rem; 
  }

  ul:last-child {
    margin-bottom: 0rem; 
  }

  ol:last-child {
    margin-bottom: 0rem; 
  }

  h1:last-child {
    margin-bottom: 0rem; 
  }

  h2:last-child {
    margin-bottom: 0rem; 
  }

  h3:last-child {
    margin-bottom: 0rem; 
  }

  h4:last-child {
    margin-bottom: 0rem; 
  }

  h5:last-child {
    margin-bottom: 0rem; 
  }

a {
  @apply text-trueblue hover:text-trueblue hover:bg-trueyellow  no-underline;
}

  h1 {
    font-size: 4rem;
    @apply text-6xl leading-[3.75rem] mb-[1.25rem];
    line-height: 1;
  }

  h2 {
    margin-bottom: var(--spacing-myspace);
    font-size: var(--text-4xl);
    line-height: 1;
  }

  
}

@utility container {
  padding-inline: 12px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 16px;
  }

  @variant lg {
    padding-inline: 24px;
  }

  @variant xl {
    padding-inline: 48px;
  }
}


html {
  scroll-behavior: smooth;
}
body {
  /* margin-top: 4rem; */
  background-color: var(--color-truewhite);
  color: var(--color-trueblack);
  /* line-height: var(--lineheight); */
  /* letter-spacing: -0.004em; */
  /* font-weight: 400; */
  font-feature-settings:
    "case" 0,
    "cpsp" 0,
    "dlig",
    "frac",
    "dnom" 0,
    "numr" 0,
    "salt" 0,
    "subs" 0,
    "sups" 0,
    "tnum" 0,
    "zero",
    "ss01" 0,
    "ss02" 0,
    "ss03" 0,
    "ss04" 0,
    "cv01" 0,
    "cv02" 0,
    "cv03" 0,
    "cv04" 0,
    "cv05" 0,
    "cv06" 0,
    "cv07" 0,
    "cv08" 0,
    "cv09" 0,
    "cv10" 0,
    "cv11" 0,
    "calt",
    "ccmp",
    "kern";
}
p,
li {
  @apply max-w-[50ch];
  /* letter-spacing: .5pt; */
  orphans: 2;
  widows: 2;
  break-inside: avoid-column;
  break-inside: avoid;
}
ol {
  @apply list-decimal;
}
ul {
  @apply list-disc;
}
li::marker {
  @apply text-accent;
}
.row {
  /* margin-bottom: 2rem; */
}
.columns {
  /* overflow: hidden; */
}

code,
samp,
pre,
kbd {
  color: var(--gray3);
}

section {
  /* padding: 6rem; */
  /* margin-top: 6rem; */
  /* margin-bottom: 6rem; */
}
.homecopy {
  text-align: left;
}

.homecopy p {
  line-height: 1.5em;
  hyphens: auto;
  word-break: break-word;
  text-wrap: balance;
}

pre {
  line-height: 1.6;
}
.container {
  /* margin-bottom: 6rem; */
  /* margin-top: 6rem; */
}
/* h1 {
  @apply text-accent text-6xl mb-4 font-inter;
  font-weight: 800;
  letter-spacing: 0.01em;
} */
/* h2 {
  color: hotpink;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.01em;
} */
h3 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.01em;
}
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
h5 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 0em;
}
h6 {
  margin-bottom: 0.5em;
}
.title > h1 {
  font-size: 6rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
}
.title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.reveal {
  position: relative;
  transform: translateY(0px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero.jpg");
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.hero-text {
  color: var(--white);
  position: fixed;
}
.hero-text > h1 {
  font-size: calc(100vw / 12);
  font-weight: 600;
  margin-bottom: 0px;
}
img {
  width: 100%;
}

.multiply {
  mix-blend-mode: multiply;
}
.whiteback {
  background-color: white;
}
.shape {
  flex: 0 0 auto;
  color: var(--white);
  margin-bottom: 6rem;
  text-align: center;
  align-self: center;
  font-weight: 500;
}
.yellow {
  background-color: var(--yellow);
}
.red {
  background-color: var(--red);
}
.blue {
  color: var(--white);
  background-color: var(--blue);
}
mark {
  background-color: var(--yellow);
  mix-blend-mode: multiply;
}
.yellow * {
  mix-blend-mode: multiply;
  /* background-color: #004d2a; */
  /* color: var(--yellow); */
}
.blue mark {
  mix-blend-mode: normal;
  background-color: #004d2a;
  color: var(--yellow);
}
.red *:not(a) {
  /* mix-blend-mode: multiply; */
  color: black;
}
.red :is(a) {
  color: #941351;
}
.red a:hover {
  background-color: #941351;
}
.blue :is(a) {
  color: #ffaff4;
  mix-blend-mode: normal;
}
.blue a:hover {
  mix-blend-mode: normal;
  background-color: #3a2482;
  color: var(--color-accent);
}
.red mark {
  background-color: #ef756d;
  background-color: red;
  background-color: var(--red);
}
.blue mark:hover {
  /* background-color: #001c2b; */
}
/* mark:hover { */
/*     background-color: var(--red); */
/*     color: var(--yellow); */
/* } */
.block {
  padding: 2rem;
  font-size: 80%;
  mix-blend-mode: multiply;
}
.block p {
}
.shape:hover {
  /* background: var(--black); */
}
.triangle {
  background: var(--color-trueyellow);
  font-size: 18px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  line-height: 235px;
  width: 242px;
  height: 210px;
  transform: translateY(-6px);
}
.square {
  background: var(--color-truered);
  border-radius: 1%;
  font-size: 18px;
  line-height: calc(1000px / 5);
  width: calc(1000px / 5);
  height: calc(1000px / 5);
}
.circle {
  background: var(--color-trueblue);
  border-radius: 50%;
  font-size: 18px;
  line-height: calc(1000px / 4.6);
  width: calc(1000px / 4.6);
  height: calc(1000px / 4.6);
}

/* .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
}
.flex > *:not(.shape) {
  flex: 1;
} */
hr {
  border: 0;
  border-top: 1px solid var(--black);
  margin: 12em auto 3em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}
hr.dots {
  border: 0;
  background-color: var(--white);
  border-top: 1px dashed var(--black);
}
hr.hrred {
  border-top: 1px dashed var(--red);
  mix-blend-mode: multiply;
}
.vertical-lines {
  height: 10px;
  color: var(--color-graylight);
  mix-blend-mode: multiply;
  background-image: linear-gradient(
    90deg,
    currentColor,
    currentColor 33.33%,
    transparent 33.33%,
    transparent 100%
  );
  background-size: 3px 100%;
  /* width: 60%; */
}
hr.zig,
hr.zag {
  border: none;
  height: 30px;
  margin: 0 0px;
}

hr.zig {
  margin-top: 6rem;
  background:
    linear-gradient(-135deg, var(--white) 20px, #66658100 0) 0 5px,
    linear-gradient(135deg, var(--white) 20px, #66658100 0) 0 5px;
  background-color: #66658100;
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 100;
  position: relative;
}

hr.zag {
  margin-bottom: 6rem;
  background:
    linear-gradient(-135deg, var(--color-graylight) 20px, #66658100 0) 0 5px,
    linear-gradient(135deg, var(--color-graylight) 20px, var(--white) 0) 0 5px;
  background-color: #66658100;
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 50;
  margin-top: -28px;
}
/*Copied from skeleton css in order to use css variables here*/

nav span {
  @apply leading-0;
}
span > .button.button-primary {
  @apply leading-[18px] h-[20px] px-[10px];
  /* height: 20px; */
  /* line-height: 20px; */
  /* padding: 0px 10px; */
}



#home .home {
  @apply text-trueblue bg-truewhite border-trueblue hover:opacity-40;
}

a.shape {
  text-decoration: none;
}

nav {
  z-index: 9999;
  /* margin: 1rem; */
  /* mix-blend-mode: multiply; */
}

a.headerlink {
  text-decoration: none;
  font-size: 80%;
}

a:hover.headerlink {
  background-color: var(--white);
}

a.headerlink > code {
  color: var(--active);
}

a:hover.headerlink > code {
  text-decoration: underline;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fff;
  border: 1px solid #d1d1d1;
}
figure {
  margin: 0px;
}
#footer {
  color: var(--gray2);
  font-size: 80%;
  font-family: 'Inter', sans-serif;
}
a:link#footer {
  color: var(--gray2);
}
.bordergray {
  border: 1px solid var(--color-graylight);
}
.box-shadow {
  box-shadow: 2px 2px var(--color-graylight);
}
.hatch {
  background-image: linear-gradient(
    135deg,
    white 40%,
    var(--accent2) 40%,
    var(--accent2) 50%,
    white 50%,
    white 90%,
    var(--accent2) 90%,
    var(--accent2) 100%
  );
  background-size: 12px 12px;
  border: 1px solid var(--accent2);
}
.dot {
  opacity: 1;
  background-image: radial-gradient(var(--accent2) 1px, white 1px);
  background-size: 12px 12px;
  border: 1px solid var(--accent2);
}
.graphpaper {
  opacity: 1;
  background-image:
    linear-gradient(var(--accent2) 1px, transparent 1px),
    linear-gradient(to right, var(--accent2) 1px, white 1px);
  background-position: left -1px top -1px;
  background-size: 12px 12px;
  border: 1px solid var(--accent2);
}
.hatchgray {
  background-image: linear-gradient(
    135deg,
    white 40%,
    var(--color-graylight) 40%,
    var(--color-graylight) 50%,
    white 50%,
    white 90%,
    var(--color-graylight) 90%,
    var(--color-graylight) 100%
  );
  background-size: 12px 12px;
  border: 1px solid var(--color-graylight);
}
.dotgray {
  opacity: 1;
  background-image: radial-gradient(var(--color-graylight) 1px, white 1px);
  background-size: 12px 12px;
  border: 1px solid var(--color-graylight);
}
.graphpapergray {
  opacity: 1;
  background-image:
    linear-gradient(var(--color-graylight) 1px, transparent 1px),
    linear-gradient(to right, var(--color-graylight) 1px, white 1px);
  background-position: left -1px top -1px;
  background-size: 10px 10px;
  border: 1px solid var(--color-graylight);
}
.hatchyellow {
  background-image: linear-gradient(
    135deg,
    white 40%,
    var(--yellow) 40%,
    var(--yellow) 50%,
    white 50%,
    white 90%,
    var(--yellow) 90%,
    var(--yellow) 100%
  );
  background-size: 12px 12px;
  border: 1px solid var(--yellow);
}
.dotyellow {
  opacity: 1;
  background-image: radial-gradient(var(--yellow) 1px, white 1px);
  background-size: 12px 12px;
  border: 1px solid var(--yellow);
}
.graphpaperyellow {
  opacity: 1;
  background-image:
    linear-gradient(var(--yellow) 1px, transparent 1px),
    linear-gradient(to right, var(--color-trueyellow) 1px, var(--white) 1px);
  background-position: left -1px top -1px;
  background-size: 12px 12px;
  border: 1px solid var(--yellow);
}
.hatchred {
  background-image: linear-gradient(
    135deg,
    white 40%,
    var(--red) 40%,
    var(--red) 50%,
    white 50%,
    white 90%,
    var(--red) 90%,
    var(--red) 100%
  );
  background-size: 12px 12px;
  border: 1px solid var(--red);
  color: var(--red);
}
.dotred {
  opacity: 1;
  background-image: radial-gradient(var(--red) 1px, white 1px);
  background-size: 12px 12px;
  border: 1px solid var(--red);
  color: var(--red);
}
.graphpaperred {
  opacity: 1;
  background-image:
    linear-gradient(var(--red) 1px, transparent 1px),
    linear-gradient(to right, var(--red) 1px, white 1px);
  background-position: left -1px top -1px;
  background-size: 12px 12px;
  border: 1px solid var(--red);
  color: var(--red);
}
.hatchblue {
  background-image: linear-gradient(
    135deg,
    white 40%,
    var(--color-trueblue) 40%,
    var(--color-trueblue) 50%,
    white 50%,
    white 90%,
    var(--color-trueblue) 90%,
    var(--color-trueblue) 100%
  );
  background-size: 12px 12px;
  border: 1px solid var(--color-trueblue);
  color: var(--color-trueblue);
}
.dotblue {
  opacity: 1;
  background-image: radial-gradient(var(--blue) 1px, white 1px);
  background-size: 12px 12px;
  border: 1px solid var(--blue);
  color: var(--blue);
}
.graphpaperblue {
  opacity: 1;
  background-image:
    linear-gradient(var(--color-trueblue) 1px, transparent 1px),
    linear-gradient(to right, var(--color-trueblue) 1px, white 1px);
  background-position: left -1px top -1px;
  background-size: 12px 12px;
  border: 1px solid var(--color-trueblue);
  color: var(--color-trueblue);
}
:is(
    .graphpaper,
    .dot,
    .hatch,
    .graphpapergray,
    .dotgray,
    .hatchgray,
    .graphpaperyellow,
    .dotyellow,
    .hatchyellow,
    .graphpaperred,
    .dotred,
    .hatchred,
    .graphpaperblue,
    .dotblue,
    .hatchblue
  )
  *:not(mark, blue) {
  background-color: white;
}

.graphpapergray > * {
  border: 1px solid var(--color-graylight);
}

/* magnify code */

.tiles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.tile {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-out;
}

.txt {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 10%;
  left: 0;
  /* font-family: "Roboto Slab", serif; */
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  cursor: default;
}

.x {
  /* font-size: 32px; */
  /* line-height: 32px; */
}

/* END MAGNIFY */

img.zoom,
img.zoomsmall,
img.zoombig {
  transition: 0.25s all;
}
img.zoom:hover {
  transform: scale(3);
}
img.zoomsmall:hover {
  transform: scale(2);
}
img.zoombig:hover {
  transform: scale(4);
}
img.zoomsmall:hover,
img.zoombig:hover,
img.zoom:hover {
  border: 0;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}

.mygap {
  gap: 2rem;
}

.bottomspace {
  /* margin-bottom: 3%; */
  margin-bottom: 2.5rem;
}
th,
td {
  border-bottom: none;
  padding: 2px;
}
table {
  width: 100%;
  margin-bottom: 0;
}
@media (min-width: 950px) {
  .homecopy {
    column-count: 1;
    column-gap: 4ch;
    max-width: ch;
  }
  .homecopy p {
    orphans: 2;
    widows: 2;
    break-inside: avoid-column;
    break-inside: avoid;
  }
  #contactDiv {
    /* position:absolute; */
    transition: 1s all ease;
  }

  #contactDiv > section {
    padding-top: 2.5rem;
  }
  /* .flex { */
  /* flex-direction: row; */
  /* } */
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .title > h1 {
    font-size: 8rem;
    /* margin-top: 4rem; */
    /* margin-bottom: 0rem; */
  }
  img.viewheight {
    height: 100vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media print {
  nav {
    display: none !important;
  }
  .noprint {
    display: none;
  }
  .pagebreakafter {
    page-break-after: always;
  }
  .pagebreakbefore {
    page-break-before: always;
  }
}
